"Geo Data Science with Python" 
### Notebook Exercise 4 optional



# Object Types

Please insert your own answer cells below the task descriptions, if necessary.

---

## Part A: Python Objects (3 points)

What does it mean if an object is mutable? What about immutable? Name at least two mutable and two immutable objects in Python.

> If an object is mutable, its contents can be changed or mutated. Strings and tuples are immutable. Lists and sets are mutable.

---
## Part B: Temperature Conversion (2 points)
(note: wait with completing this task after we discussed functions in classes)

For this task, let's the code the algorithm of the temperature conversion, which you have had forumulated in pseudocode during the course module 1.

Write a Python function that converts the input Fahrenheit degree into its Celsius degree equivalent, based on the following equation: 

$C=5/9 * (F-32)$

For that translate the equation into code, and enter it to replace the commented line (`### YOUR CODE HERE`). Make sure to use the variable names `C` and `F` for the two temperature variables and keep the indent!

In [5]:
""" Enter the conversion equation as a function below """

def tempConvert (F):
    return 5/9 * (F-32)

In the next code cell, assign a variable `tempF` with any value for a Temperature in Degree-Fahrenheit. Then run the two cells further below to receive converted value to Degree-Celcius and test your code. You can try different values. If you are satisfied with the test, move on to the next task.

In [6]:
"""Assign the variable 'tempF' with any value for a Temperature in Degree Fahrenheit."""

tempF = 98

In [7]:
"""Check that your code returns the converted Temperature. """

tempConvert(tempF)

36.66666666666667

In [8]:
# Check that your assigns a number to tempF and that it returns a correctly converted Temperature.

assert type(tempF) == float or int
assert tempConvert(32) == 0
assert tempConvert(50) == 10
assert tempConvert(100) == 37.77777777777778

---
## Part C:  Boolean Objects (2 Points)

Assign the variable a, b and c with number or string values, so that all tests in the following cell return True.

In [24]:
""" Assign the variable a, b and c with number or string values,
    so that all tests in the following cell return True """

a = 'spam'
b = 0
c = 0

In [25]:
bool('spam')

True

In [26]:
"""Check that your code returns only True test results"""

Test1 = (type(c) == int)
Test2 = not b and bool(a)
Test3 = not(c) and a == 'spam'
Test4 = (type(c) == type(b))

print(Test1, Test2, Test3, Test4)

True True True True

In [27]:
# Check that your code returns only True test results
assert Test1 == True
assert Test2 == True
assert Test3 == True
assert Test4 == True
assert type(a) == int or float or str
assert type(b) == int or float or str
assert type(c) == int or float or str

---

## Part D: Sequence operations with Strings and Lists (3 points)
This tasks includes several string-list operations. You should process a string variable with the name `strIn` in the following way:

Split the string variable `strIn` into a list of strings with a space delimiter. Use the method `split()`
Then, using only list comprehensions, add % in front and at the end of every single word in the string list `strIn` (from previous task item). Assign the result to a new variable of the name `strListOut`.

Add your code sequence in the following code block where it says YOUR CODE HERE. It will complete the following code block (function). You may code this in one or two steps. But, the variables for input (`strIn`) and output (`strListOut`) of your code sequence have to have the same names as stated in the task.

Example: 

A string `"Spring is Awesome in Blacksburg"` would become a list like this: `['%Spring%','%is%', '%awesome%', '%in%', '%Blacksburg%']`

In [92]:
def stringManipulation(strIn): # leave this line unchanged
    
    """Enter your answer below, do not change the indent!"""
    strListOut = strIn.split(' ')
    strListOut = ['%' + i + '%' for i in strListOut]
    return(strListOut) # leave this line unchanged

In [93]:
"""Assing any string to the variable stringExample, 
    then use the function stringManipulation to check
    that your code correctly manipulated the input string."""

stringExample = "Add any sentence here!"
stringManipulation(stringExample)
### YOUR CODE HERE

['%Add%', '%any%', '%sentence%', '%here!%']

In [94]:
#Check that your code correctly manipulates the input string.

stringExample1 = "Spring is Awesome in Blacksburg"
assert stringManipulation(stringExample1) == ['%Spring%', '%is%', '%Awesome%', '%in%', '%Blacksburg%']
assert stringManipulation(stringExample1)[0][0] == '%'
assert stringManipulation(stringExample1)[0][-1] == '%'
assert type(stringManipulation(stringExample1)) == list

---
## Part E: List Comprehension with Number Lists

### Task E.1 (3 points)

This tasks includes writing list comprehensions and other operations:

* Write a a single list comprehension to print all the numbers in the range 1-100 that are either divisible by 10 or 11. Assign the result to a list `outList`. Use the built-in function `range()`.


Enter the code for these task items in the cell below. Separate the blocks of the tasks items with a commented line,  starting with `# `. Use exactly these variable names, put your code below, where it states `YOUR CODE HERE` and keep the indent as provided.

In [100]:
"""Write a list comprehension to find numbers divisible 
   by at least one of two given integer numbers. """

def divisionList(a,b): # leave this line unchanged
    
    """Enter your answer below, do not change the indent!"""
    outList = []      #creating an empty list
    for n in range (1,101):          # numbers from 1 to 100 
        if n % a == 0 or n % b == 0:    # checking for a remainder of zero
            outList.append (n)          # adding values that meet the criteria to a new list

    return(outList) # leave this line unchanged

In [103]:
"""Adjust the two integer numbers to your liking."""
a = 10
b = 11

In [104]:
"""Check the result of your code."""
print("The following numbers between 1 and 100 are divisable by {} or {}: ".format(a,b))
print(divisionList(a,b))
print("\n")

The following numbers between 1 and 100 are divisable by 10 or 11:
[10, 11, 20, 22, 30, 33, 40, 44, 50, 55, 60, 66, 70, 77, 80, 88, 90, 99, 100]

In [107]:
#Check the result of your code.

assert divisionList(99,100) == [99, 100]
assert divisionList(15,21)  == [15, 21, 30, 42, 45, 60, 63, 75, 84, 90]

### Task E.2

You have given two lists containing a student grade book. Below that, samples show you more sophisticated list comprehensions. Study those examples and experiment with them in the available cells, further below.

In [108]:
# Sample grade book data
#             0      1       2        3      4      5       6        7         8
headings = ["ID", "Name", "Gender", "HW1", "HW2", "HW3", "Exam1", "Exam2", "FinalExam"]

grades = [
#    0          1          2    3   4   5   6   7   8
 ["b0001", "Jane Doe",    "F", 95, 87, 92, 88, 93, 90] # 0
,["b0002", "John Blue",   "M", 55, 76, 89, 77, 82, 80] # 1
,["b0003", "Kim Tester",  "F", 80, 75, 65, 70, 75, 80] # 2
,["b0004", "Larry Black", "M", 90, 90, 92, 95, 85, 94] # 3
,["b0005", "Susan White", "F", 65, 52, 85, 45, 80, 82] # 4
]

In [109]:
# samples that use the Sample Grade Book in sample_grade_book.py
# Don't import this -- just use cut-and-paste to test the individual
#    expressions.

# display the gradebook (will need to type this one in 2 lines)
for g in grades:
    print(g)

# Larry Black's grade on Exam2
grades[3][7]

# Suppose you don't know the row/column numbers.
# finding Larry Black's row
headings.index('Name') # need to know the name column first

[g[headings.index('Name')] for g in grades] # names of all students

[g[headings.index('Name')] for g in grades].index('Larry Black') # find Larry Black's index

# to get Larry Black's complete row in the gradebook
grades[[g[headings.index('Name')] for g in grades].index('Larry Black')]

# to get Larry Black's grades
grades[[g[headings.index('Name')] for g in grades].index('Larry Black')][headings.index('HW1'):]

#finding Exam2's column
headings.index('Exam2')

#finding Larry Black's grade on Exam2
grades[[g[headings.index('Name')] for g in grades].index('Larry Black')][headings.index('Exam2')]

# grades on Exam2
[g[7] for g in grades]
[g[headings.index('Exam2')] for g in grades]

# average on hw2
hw2 = [g[4] for g in grades]
float(sum(hw2))/len(grades)
# average on Exam2
float(sum([g[headings.index('Exam2')] for g in grades]))/len(grades)


# highest average
h = max([sum(g[3:])/float(len(g[3:])) for g in grades])
# index of that person
pindex = [sum(g[3:])/float(len(g[3:])) for g in grades].index(h)
# name and average
grades[pindex][1], h
# all together
grades[[sum(g[3:])/float(len(g[3:])) for g in grades].index(max([sum(g[3:])/float(len(g[3:])) for g in grades]))
][1], max([sum(g[3:])/float(len(g[3:])) for g in grades])

['b0001', 'Jane Doe', 'F', 95, 87, 92, 88, 93, 90]
['b0002', 'John Blue', 'M', 55, 76, 89, 77, 82, 80]
['b0003', 'Kim Tester', 'F', 80, 75, 65, 70, 75, 80]
['b0004', 'Larry Black', 'M', 90, 90, 92, 95, 85, 94]
['b0005', 'Susan White', 'F', 65, 52, 85, 45, 80, 82]

('Larry Black', 91.0)

Try the examples by copying & pasting them into the code cells below. Study their output. You may also add more code cells, if you like. This exercise will not be graded, but it is helpful to understand list comprehensions at a very deep level.

In [110]:
### Try the examples in this code cell. (This will not be graded.)
for g in grades:
    print(g)

['b0001', 'Jane Doe', 'F', 95, 87, 92, 88, 93, 90]
['b0002', 'John Blue', 'M', 55, 76, 89, 77, 82, 80]
['b0003', 'Kim Tester', 'F', 80, 75, 65, 70, 75, 80]
['b0004', 'Larry Black', 'M', 90, 90, 92, 95, 85, 94]
['b0005', 'Susan White', 'F', 65, 52, 85, 45, 80, 82]

In [111]:
### Try the examples in this code cell. (This will not be graded.)
[g[headings.index('Name')] for g in grades].index('Larry Black') # find Larry Black's index

3

In [112]:
### Try the examples in this code cell. (This will not be graded.)

grades[[g[headings.index('Name')] for g in grades].index('Larry Black')][headings.index('Exam2')]

85

In [113]:
### Try the examples in this code cell. (This will not be graded.)
grades[[sum(g[3:])/float(len(g[3:])) for g in grades].index(max([sum(g[3:])/float(len(g[3:])) for g in grades]))
][1], max([sum(g[3:])/float(len(g[3:])) for g in grades])

('Larry Black', 91.0)

---
## Part F: Dictionaries 

### Task F.1  (3 points)
For this task, generate a new dictionary that merges the lists `headings` and `grades` from *Task E.2* into one dictionary of the name `students`. 
The dictionary `students` should be a nested dictionary: a dictionary of 5 dictionaries, with each of these 5 dictionaries containing a row of the list `grades`. Use the student ID's as key of the outer dictionary. Then use the remaining header lines as keys of the inner dictionaries and the remaing columns as values of the inner dictionaries. It is sufficient to include only one of the grade columns, e.g. `HW1` or `Exam2`.
For the dictionary keys, use the name names as listed in `headings` above. Use appropriate object types for the content numbers and strings.

In [149]:
"""Convert the list grades into a dictionary of the name students."""

students = {
    'b0001' : {"Name":grades[0][1], "Gender":grades[0][2], "HW1":grades[0][3], "HW2":grades[0][4], "HW3":grades[0][5], "Exam1":grades[0][6], "Exam2":grades[0][7], "FinalExam":grades[0][8]},
    'b0002' : {"Name":grades[1][1], "Gender":grades[1][2], "HW1":grades[1][3], "HW2":grades[1][4], "HW3":grades[1][5], "Exam1":grades[1][6], "Exam2":grades[1][7], "FinalExam":grades[1][8]},
    'b0003' : {"Name":grades[2][1], "Gender":grades[2][2], "HW1":grades[2][3], "HW2":grades[2][4], "HW3":grades[2][5], "Exam1":grades[2][6], "Exam2":grades[2][7], "FinalExam":grades[2][8]},
    'b0004' : {"Name":grades[3][1], "Gender":grades[3][2], "HW1":grades[3][3], "HW2":grades[3][4], "HW3":grades[3][5], "Exam1":grades[3][6], "Exam2":grades[3][7], "FinalExam":grades[3][8]},
    'b0005' : {"Name":grades[4][1], "Gender":grades[4][2], "HW1":grades[4][3], "HW2":grades[4][4], "HW3":grades[4][5], "Exam1":grades[4][6], "Exam2":grades[4][7], "FinalExam":grades[4][8]}
}

In [150]:
#Check the result of your code.

assert type(students) == dict
assert list(students.keys())[0] == 'b0001'
assert len(students) == 5
assert len(students['b0001']) > 2
assert students['b0001']['Name'] == 'Jane Doe'
assert students['b0002']['Gender'] == 'M'

### Task F.2  (1 point)
Now, given this dictionary, how can you look up a any student's (e.g. Larry Black's) grade in any exam (e.g. Exam2) from the dictionary students? Write a chained list comprehension in the code cell below.

In [198]:
"""Enter your code."""
# List comprehension for Larry Black's exam 2 score
[students[key]['Exam2'] for key in students if students[key]['Name'] == 'Larry Black']

[85]

---
## Part G: Further Practise: (4 points).

In this part, a few more coding exercises are given, which you may use for practise. Insert and label answer code cells below.

1. Write a list comprehension, that generates a list of numbers between 1 and 1000 in steps of 100 and then returns the square of each value. (Hint: `range()`). (1 point)
2. Using list comprehensions only, create a 4x4 idendity matrix. (1 point)
3. Develop the code that transfers a list, L, of integers into a second list L2 containing the only the even numbers from L. (Hint: Modulus Operator) (1 point)
4. Using the student gradebook dictionary form above, write a list comprehension (chain), which can find the Person with the highest grade in Exam 2, without knowing the content (but the structure) of the dataset. (1 point)

In [124]:
# Ans 1 
[i*i for i in range (1,1001,100)]

[1, 10201, 40401, 90601, 160801, 251001, 361201, 491401, 641601, 811801]

In [144]:
# Ans 2
[[i for i in range(4)] for n in range (4)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [141]:
# Ans 3
L = range(1,20)
L2 = []
for i in L:
    if i % 2 == 0:
         L2.append(i) 
print (L2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [214]:
# Ans 4
[students[key]['Name'] for key in students if students[key]['Exam2'] == max(list(students.keys()['Exam2']))]     
#tricky

TypeError: 'dict_keys' object is not subscriptable

In [202]:
!git pull
!git add E

['b0001', 'b0002', 'b0003', 'b0004', 'b0005']

#

---
If you are satisfied with your notebook, save it and push it to your homework repository.