"Geo Data Science with Python" 
### Notebook Exercise 2
 
# Python Lists

<div class="alert alert-warning">

SW: total points: 21/18   
    
    
Summary:
- Task A.1: 3/3
- Task A.2: 2/2
- Task B.2: 2/2
- Task C.1: 3/3
- Task C.2: 8/8
- Task C.3: 3/3 (extra credit)

All great, no comments.
    
</div>

---


## Part A: Writing and Indexing Lists


### Task A.1 (3 points)

A student datasets is given in the table below. 

| ID    | Name        | Gender | Level | Place of Birth |
| - | - | - | - | - |
| 70001 | Jane Doe    | F      | Jr    | Atlanta |
| 70002 | John Blue   | M      | Sr    | Phoenix |
| 70003 | Kim Tester  | F      | Jr    | Chicago |
| 70004 | Larry Black | M      | Sphm    | New York |
| 70005 | Susan White | F      | Sphm    | Berlin |


Translate this dataset into two lists. One simple list of name `header` should contain the header only. The second list of name `studentData`, should contain the data in the table as a list of lists. Use the same orientation and order as in the table (rows should be lists, in a list). Use appropriate object types: numbers and strings.

In [1]:
"""Create two lists: header and datatable, that reflect the table above."""

header = ['ID', 'Name', 'Gender' ,'Level', 'Place of Birth']
studentData = [
    [70001, 'Jane Doe', 'F', 'Jr', 'Atlanta'], 
    [70002, 'John Blue', 'M', 'Sr', 'Phoenix'], 
    [70003, 'Kim Tester', 'F', 'Jr', 'Chicago'], 
    [70004, 'Larry Black', 'M', 'Sphm', 'New York'], 
    [70005, 'Susan White', 'F', 'Sphm', 'Berlin']
]

In [2]:
# Check that your lists have the right content, orientation and hierarchy.

print(header)

['ID', 'Name', 'Gender', 'Level', 'Place of Birth']

In [3]:
# Check that your lists have the right content, orientation and hierarchy.

[e for e in studentData]

[[70001, 'Jane Doe', 'F', 'Jr', 'Atlanta'],
 [70002, 'John Blue', 'M', 'Sr', 'Phoenix'],
 [70003, 'Kim Tester', 'F', 'Jr', 'Chicago'],
 [70004, 'Larry Black', 'M', 'Sphm', 'New York'],
 [70005, 'Susan White', 'F', 'Sphm', 'Berlin']]

In [4]:
# Check that your lists have the right content, orientation and hierarchy.

assert type(header)        == list
assert type(studentData)   == list
assert header[0]           == 'ID'
assert len(header)         == len(studentData[0])  ==  5
assert len(studentData)    == 5
assert studentData[0][1]   == 'Jane Doe'
assert studentData[-1][-2] == 'Sphm'

---
### Task A.2 (2 points)

Now assign new variables with content from the list, using indexing:
* Assign the ID number Kim Tester to a varaible of the name: `IDofKim` 
* Assign the birth place of Susan White to a variable of the name `BirthPlaceSusan`
* Assign the entire entry of John Blue to a variable of the name `DataJohn`
* Assign all names to a variable of the name `StudentNames` <br>*Hint: Use indexing in combination with list comprehension for the last task item.*

Enter your code in the cell below

In [5]:
IDofKim = studentData[2][0]
BirthPlaceSusan = studentData[-1][-1]
DataJohn = studentData[1]
StudentNames = [i[1] for i in studentData]

In [6]:
# Check that you get the correct values for your assigned variables:

print("Kim's ID:\t\t{}".format(IDofKim))
print("Susan's birth place:\t{}".format(BirthPlaceSusan))
print("John's data:\t\t{}".format(DataJohn))
print("Student names:\t\t{}".format(StudentNames))

Kim's ID:		70003
Susan's birth place:	Berlin
John's data:		[70002, 'John Blue', 'M', 'Sr', 'Phoenix']
Student names:		['Jane Doe', 'John Blue', 'Kim Tester', 'Larry Black', 'Susan White']

---
## Part B: Interacting with Lists

### Task B.1 (not graded)

For this task, you have given a list of people data in the following cell. Execute the data cell. Then study the code in the cell further below. It contains a lot of code examples, how to handle lists. Learn, how to interact with the data structure. Try and experiment with the example code in the empty code cells below.

Especially focus on how various list comprehension queries can be merged to retrieve a specific entry, whithout actually looking at the data. For example: What is the name of the oldest person? The code examples provide you a step by step derivation of a comples list comprehension to receive the answer to that.

In [7]:
# Data Set: People

# Creating a list that defines a person: Name, age, points
person = ["Tom Howard", 54, 6.0]

# Creating a list of lists to define a team:
people = [
    ["Tom Howard",          54,  6.0],
    ["Jane Grimm",          19,  5.9],
    ["Sam Brown",           25,  6.2],
    ["Sarah Joan Spade",    26, 5.25],
    ["Blaine Jones",        62,  5.8],
    ["Devin Callahan",      32, 5.92],
]

In [8]:
# Retrieving all people's ages
[p[1] for p in people]

[54, 19, 25, 26, 62, 32]

In [9]:
"""Study the following code examples: How to interact with lists."""

#Indexing: accessing certain list entries
people[0]   # first entry
people[-2]  # second last entry

# Slicing
people[0:2]  # first two people

# How many people on the team
len(people)

# print out all list elements
for p in people: print(p)
    
# Access all names
[p[0] for p in people]

# Gives all last names 
[p[0].split()[-1] for p in people]
# (find help for function split listed under:
#  Online help > string (type in search bar) > function split 

# Gives all ages
[p[1] for p in people]

# Gives average age
sum([p[1] for p in people])/float(len(people))

# Gives total height
sum(p[2] for p in people)


# What is the name of the oldest person?
# First, find the max age
ages =[p[1] for p in people] 
max(ages)
# Now, which item is max? - 62
ages.index(62)
# Who is that - person 4
people[4][0]
# Combine all steps before to find the oldest person
people[[p[1] for p in people].index(max([p[1] for p in people]))][0]


# delete list elements
del people[5]

# add list elements
people.append(["Your Name",      23, 5.92])

# Find out what the method pop does!
people.pop()
people.pop(2)

# Find out what methods sort and reverse do exactly
# go to 'Online help' > search for list > find methods
people.sort()
people.reverse()

['Tom Howard', 54, 6.0]
['Jane Grimm', 19, 5.9]
['Sam Brown', 25, 6.2]
['Sarah Joan Spade', 26, 5.25]
['Blaine Jones', 62, 5.8]
['Devin Callahan', 32, 5.92]

Try the examples by copying & pasting them into the code cells below. Study their output. You may also add more code cells, if you like. This exercise will not be graded, but you will need the expertise in the following tasks.

In [10]:
### Try the examples in this code cell. (This will not be graded.)
[p[0].split()[-1] for p in people]

['Howard', 'Spade', 'Grimm', 'Jones']

In [11]:
### Try the examples in this code cell. (This will not be graded.)
ages =[p[1] for p in people] 
max(ages)

62

In [12]:
### Try the examples in this code cell. (This will not be graded.)
people.sort()
people

[['Blaine Jones', 62, 5.8],
 ['Jane Grimm', 19, 5.9],
 ['Sarah Joan Spade', 26, 5.25],
 ['Tom Howard', 54, 6.0]]

### Task B.2 (2 points)

After studying the examples for list comprehensions as well as string methods, answer the following: which of the operations or functions above are mutating the list? Copy & paste all examples you can find into the markdown cell below.

# del mutates the list by removing elements
del people[5]

# append mutates by adding elements
people.append(["Your Name",      23, 5.92])

# pop also removes an element from the list but returns it as a separate object
people.pop()
people.pop(2)

# sort and reverse change the ordering of items in the list
people.sort()
people.reverse()

---
## Part C: Write your Own List Comprehensions

### Task C.1 (3 points)

This tasks includes writing several list comprehensions and other operations:

1. Write a list comprehension that selects numbers from 1 and 100 that are divisible by 7 and assigns the result to a list `sevenList`. Use the built-in function `range()`. Search the function in the internet, if you do not know how to use it (simply search for *range Python* in the internet).


2. Assign a list `lackList = [‘cackle’, ‘mack’, ‘kraggle’]` and write a list comprehension that returns the index of the letter k from the list. Assign the result to a variable `foundK`. Apply the function `find()`.


3. Append a fourth string to the list `lackList` using the method `append()`. Then use list comprehensions to return the first letter of each word to a new list `firstLetList`.


Enter the code for these task items in the cell below. Separate the blocks of the tasks items with a commented line,  starting with `# `. Use exactly these variable names, put your code below, where it states `YOUR CODE HERE` and keep the indent as provided.

In [13]:
"""Enter the code for the task items below, separate them
   by one line and comment each answer block with #1, #2, #3."""

#1
hundredRange = range (1,101)
sevenList = [i for i in hundredRange if i % 7 == 0]

#2
lackList = ['cackle', 'mack', 'kraggle']
foundK = [f.find('k') for f in lackList]

#3 
lackList.append('pack')
firstLetList = [i[0] for i in list(lackList)]

In [14]:
# Check the result of your code.
print("\n")
print("Your results for Task C.2:")
print("\n")
print("The following numbers between 1 and 100 are divisable by seven: ", sevenList)
print("\n")
print("The letter k was found at these positions in %i 'lackList' items:" % (len(lackList)-1), foundK )
print("\n")
print("The string '%s' was added at the end of the list 'lackList'." % lackList[-1])
print("The first letters of 'lackList' entries are: ", firstLetList)
print("\n")

Your results for Task C.2:


The following numbers between 1 and 100 are divisable by seven:  [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]


The letter k was found at these positions in 3 'lackList' items: [3, 3, 0]


The string 'pack' was added at the end of the list 'lackList'.
The first letters of 'lackList' entries are:  ['c', 'm', 'k', 'p']

In [15]:
# Check the result of your code.

assert type(sevenList)     == list
assert len(sevenList)      == 14
assert type(lackList)      == list
assert lackList[0] == 'cackle'
assert lackList[1] == 'mack'  
assert lackList[2] == 'kraggle'
assert len(lackList)       == 4
assert type(lackList[3])  == str
assert bool(firstLetList[3]) == True

---
### Task C.2 (8 points)

After practicing list comprehensions so throrouly, let's get back to the example of the `people` list. The list is again assigned to it's original version in the cell below. 

Below the cell defining the dataset, and based on the code examples above in Part C, write a 1-line long operation that returns the name of the person with the lowest points and assigns it to the variable `NameLowestPoints`. You have to reach that result by executing a code **chain of list comprehensions and functions** on the list people, not through simple assignment (similar to the example above for the oldest person). 

The code should work on any other list with the same data structure (same table header and table orientation). In practice this means, you may index a column, but not a row in the list comprehension, and the correct row has to be find by the code you write.

In [16]:
people = []
people = [
    ["Tom Howard",          54,  6.0],
    ["Jane Grimm",          19,  5.9],
    ["Sam Brown",           25,  6.2],
    ["Sarah Joan Spade",    26, 5.25],
    ["Blaine Jones",        62,  5.8],
    ["Devin Callahan",      32, 5.92],
]

In [17]:
"""Enter your answer below, do not change the indent!"""

NameLowestPoints = people[[p[2] for p in people].index(min (p[2] for p in people)) ][0]

In [18]:
# Check that your code is correct: it should return the name of Sarah Joan Spade.

print(NameLowestPoints)

Sarah Joan Spade

In [27]:
# Check that your code correctly manipulates the input string.

assert NameLowestPoints == 'Sarah Joan Spade'
assert type(NameLowestPoints) == str

# You can also check that your code can do the same for any other data table, 
# with names in the first row and numbers in the third 
# (in this dataset you would check for the lowest age they reached).

famousGeographers = [
    ["Eratosthenes",            -276,  80],
    ["Al Idrisi",               1100,  65],
    ["Alexander von Humboldt",  1769,  68],
    ["Immanuel Kant",           1724,  80],
    ["Carl Ritter",             1779,  80],
    ["Arnaldo Faustini",        1872,  72],
]

---
### Task C.3 (3 extra credit points)



Write a list comprehension that multiplies a list `a_list` of  integer numbers by 2 and assigns the result to a list `convertedList`. This should work for any lists containing numbers. Use exactly these variable names, put your code below, where it states `YOUR CODE HERE` and keep the indent as provided.

In [20]:
def myLHmultiplyBy2(a_list): # leave this line unchanged
    
    """Write a list comprehension that multiplies a list "a_list" of 
       integer numbers by 2 and assigns the result to a list "convertedList".
       Enter your answer below, do not change the indent!"""
    ### YOUR CODE HERE
    convertedList = [2*l for l in a_list]  
    return(convertedList)   # leave this line unchanged

In [21]:
# Below a list myList with some numbers, you can change it, as you like, to test your code below.

myList = [1,2,3,4,5,55,800,1233000,1294]

In [22]:
#Check the result of your code for the list you have assigned.

print(myLHmultiplyBy2(myList))

[2, 4, 6, 8, 10, 110, 1600, 2466000, 2588]

In [23]:
#Check the result of your code for the list you have assigned.

assert type(myList) ==  list
assert myLHmultiplyBy2([1,2,3,4,5,55,800,1233000,1294]) == [2, 4, 6, 8, 10, 110, 1600, 2466000, 2588]

In [24]:
# ! git pull 
# ! git add Exercise03_Lists.ipynb
# ! git commit

ssh: connect to host github.com port 22: Network is down
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
	modified:   Exercise02_graded.ipynb

Untracked files:
	.ipynb_checkpoints/
	Exercise03_copy_graded.ipynb

no changes added to commit

In [ ]:
! git pull
! git add Exercise03_copy_graded.ipynb
! git commit -m "grading"
! git push
! git pull

If you are satisfied with your notebook, save it and push it to your homework repository.