"Geo Data Science with Python" 
### Notebook Exercise 4
 
# Python Dictionaries

---


## Part A: Writing a Dictionary (4 points)

Create a dictionary object, `dict_DaysInMonth`, that maps a month's name (the dictionary key) to the respective number of days in that month (the value) for January, February, ..., December) assuming it’s not a leap-year. 

Enter the code in the cell below.

In [30]:
"""Create a dictionary containing Number-of-Months, mapping 
    month names to number of days in that month:"""

dict_DaysInMonth = {
    'January'  : 31,
    'February' : 28,
    'March'    : 31,
    'April'    : 30,
    'May'      : 31,
    'June'     : 30,
    'July'     : 31,
    'August'   : 31,
    'September': 31,
    'October'  : 31,
    'November' : 30,
    'December' : 31,
    
}

How can you list only the values from `dict_DaysInMonth`? Assign the values of the dictionary to a variable `DaysInMonth`.

Enter the code in the cell below.

In [31]:
"""Assign the values of the dictionary to a variable DaysInMonth:"""

DaysInMonth = dict_DaysInMonth.values()

In [32]:
# Check the output of your code

print(DaysInMonth)

dict_values([31, 28, 31, 30, 31, 30, 31, 31, 31, 31, 30, 31])

In [33]:
# Check the result of your code

len(dict_DaysInMonth) == 12
# note the dictionary comprehensions in the following tests
len([d for d in list(DaysInMonth) if d == 31]) == 7
len([d for d in list(DaysInMonth) if d == 30]) == 4

assert type(dict_DaysInMonth) == dict
assert type(DaysInMonth)      == type({'z':1}.values())

---
## Part B: Writing, Accessing and Manipulating Complex Dictionaries

### Task B1 (5 points)

For this task, you should write the data base of the Finnland Meteorological Institue into a dictionary, that contains table header and content in one data structure.

| StatName | ID | Lat | Long |
|:-:|:-:|:-:|:-:|
| Helsinki Kaisaniemi     | 100971 | 60.18 | 24.94 |
| Helsinki Kaivopuisto    | 132310 | 60.15 | 24.96 |
| Helsinki Kumpula        | 101004 | 60.20 | 24.96 |
| Helsinki Malmi airfield | 101009 | 60.25 | 25.05 |
| Helsinki lighthouse     | 101003 | 59.95 | 24.93 |

The dictionary should be named `FIMdata` and it should be **a dictionary of 5 dictionaries**, with each of these 5 dictionaries containing a row of the data table above. Use the station ID's as key of the outer dictionary (instead of the names). Then use the remaining header lines as keys of the inner dictionaries and the remaing columns as values of the inner dictionaries. Make sure to use the same key names as in the table header given above. Use appropriate object types for the content numbers and strings.

In [34]:
"""Write the dictionary FIMdata containing the table above."""

FIMdata = {
    100971 : {'StatName': 'Helsinki Kaisaniemi', 'Lat': 60.18, 'Long': 24.94},
    132310 : {'StatName': 'Helsinki Kaivopuisto', 'Lat': 60.15, 'Long': 24.96},
    101004 : {'StatName': 'Helsinki Kumpula', 'Lat': 60.20, 'Long': 24.96},
    101009 : {'StatName': 'Helsinki Malmi airfield', 'Lat': 60.25, 'Long': 25.05},
    101003 : {'StatName': 'Helsinki lighthouse', 'Lat': 59.95, 'Long': 24.93}

}

In [35]:
# Check the content of your dataset.

assert type(FIMdata) == dict
assert FIMdata[100971]['StatName'] == 'Helsinki Kaisaniemi'
assert FIMdata[101009]['Lat'] == 60.25
assert [e for e in FIMdata] == [100971, 132310, 101004, 101009, 101003]
assert len(FIMdata) == 5
assert len(FIMdata[100971]) == 3

---
### Task B2 (2 points)

Now, use a **method** available for dictionaries to delete only the station with the ID `132310` from the dictionary (for the station `'Helsinki Kaivopuisto').`

In [36]:
"""Use a dictionary method to delete the station with the ID 132310 """

del FIMdata[132310]

In [37]:
# Check the result of your code.

FIMdata

{100971: {'StatName': 'Helsinki Kaisaniemi', 'Lat': 60.18, 'Long': 24.94},
 101004: {'StatName': 'Helsinki Kumpula', 'Lat': 60.2, 'Long': 24.96},
 101009: {'StatName': 'Helsinki Malmi airfield', 'Lat': 60.25, 'Long': 25.05},
 101003: {'StatName': 'Helsinki lighthouse', 'Lat': 59.95, 'Long': 24.93}}

In [38]:
# Check the result of your code.

assert len(FIMdata) == 4
assert len(FIMdata[100971]) == 3
assert [e for e in FIMdata] == [100971, 101004, 101009, 101003]

---
### Task B3 (2 points)

Now, update the name of the station `Helsinki lighthouse` to a shorter name: `lighthouse`. Use the method `update().`

In [39]:
"""Update the name of the station Helsinki lighthouse lighthouse"""

FIMdata[101003].update({'StatName': 'lighthouse'})

---

### Task B4 (2 point)

As you can see, dictionaries are very useful in manipulating datasets. If an entry is deleted, you do not need to update the access key for preceding entries, as you would have to do for lists.

In the next step, assign a variable `FIMkeys` with the keys of the dictionary. **Use a dictionary method (not a list comprehension)**.

In [40]:
"""Assign the keys of the dictionary FIMdata to a variable FIMkeys."""

FIMkeys = FIMdata.keys()

In [41]:
"""Check the result of your code."""

assert list(FIMkeys) == [100971, 101004, 101009, 101003]

---
## Part C:  Dictionaries of Lists, or better the Other Way Around?

### Task C.1 (4 points)

You have given two different data structures containing inventory lists. 
First, investigate the data structures and execute the data cell. Here a short description of the abbreviations:
* SKU:   Stock Keeping Unit (i.e., a specific item) 
* Cost:  \$ per unit
* Location:   Aisle in a warehouse 
* Qty:   Quantity on hand 

Then, study the access operations for both data structures, given in the code in the cell further below. Learn, to discriminate how to access the two different data structures. Try and experiment with the example code in the empty code cells below.

In [42]:
# Two Different Inventory List Data Structures

inv1 = [
       {'sku': 'A1004', 'cost':  3.45, 'location': 'A104', 'qty': 12}
      ,{'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92}
      ,{'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty':  2}
      ,{'sku': 'B1849', 'cost':  0.78, 'location': 'A107', 'qty': 18}
      ,{'sku': 'C1098', 'cost':  1.29, 'location': 'C204', 'qty':  1}
]

inv2 = {
       'A1004': [ 3.45, 'A104', 12]
      ,'A1012': [19.68, 'A105', 92]
      ,'B1638': [33.14, 'A106',  2]
      ,'B1849': [ 0.78, 'A107', 18]
      ,'C1098' :[ 1.29, 'C204',  1]
}

In [43]:
# Examples for Data Structures


# Show all Items in the Dataset
# ... for inv1
for r in inv1: 
    print(r)
# ... for inv2
for k in inv2:
    print(k, inv2[k])


# List all SKUs in the Dataset
# ... for inv1
[r['sku'] for r in inv1]
# ... for inv2
inv2.keys()


#Total Inventory Value
# ... for inv1
sum([r['cost']*r['qty'] for r in inv1])
# ... for inv2
sum([inv2[k][0]*inv2[k][2] for k in inv2])


#On‐hand inventory for SKU B1638
# ... for inv1
sku = 'B1638'
inv1[[s['sku'] for s in inv1].index(sku)]['qty']
# ... for inv2
sku = 'B1638'
inv2[sku][2]

print('\nWhat is your favorite? A dictionary of lists, or a list of dictionaries?\n')

{'sku': 'A1004', 'cost': 3.45, 'location': 'A104', 'qty': 12}
{'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92}
{'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty': 2}
{'sku': 'B1849', 'cost': 0.78, 'location': 'A107', 'qty': 18}
{'sku': 'C1098', 'cost': 1.29, 'location': 'C204', 'qty': 1}
A1004 [3.45, 'A104', 12]
A1012 [19.68, 'A105', 92]
B1638 [33.14, 'A106', 2]
B1849 [0.78, 'A107', 18]
C1098 [1.29, 'C204', 1]

What is your favorite? A dictionary of lists, or a list of dictionaries?

Try the examples by copying & pasting them into the code cells below. Study their output. You may also add more code cells, if you like. This exercise will not be graded, but you will need the expertise in the following tasks.

In [44]:
### Try the examples in this code cell. 
# (This will not be graded for accuracy, but you receive up to 4 points 
# for experimenting with the code.)
for r in inv1: 
    print(r)
# ... for inv2
for k in inv2:
    print(k, inv2[k])

{'sku': 'A1004', 'cost': 3.45, 'location': 'A104', 'qty': 12}
{'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92}
{'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty': 2}
{'sku': 'B1849', 'cost': 0.78, 'location': 'A107', 'qty': 18}
{'sku': 'C1098', 'cost': 1.29, 'location': 'C204', 'qty': 1}
A1004 [3.45, 'A104', 12]
A1012 [19.68, 'A105', 92]
B1638 [33.14, 'A106', 2]
B1849 [0.78, 'A107', 18]
C1098 [1.29, 'C204', 1]

In [45]:
### Try the examples in this code cell. 
# ... for inv1
print([r['sku'] for r in inv1])
# ... for inv2
inv2.keys()

['A1004', 'A1012', 'B1638', 'B1849', 'C1098']

dict_keys(['A1004', 'A1012', 'B1638', 'B1849', 'C1098'])

In [46]:
### Try the examples in this code cell.
sum([r['cost']*r['qty'] for r in inv1])
# ... for inv2
sum([inv2[k][0]*inv2[k][2] for k in inv2])

1933.57

In [47]:
sku = 'B1638'
print(inv1[[s['sku'] for s in inv1].index(sku)]['qty'])
# ... for inv2
sku = 'B1638'
print(inv2[sku][2])

print('\nWhat is your favorite? A dictionary of lists, or a list of dictionaries?\n')

2
2

What is your favorite? A dictionary of lists, or a list of dictionaries?

> I prefer a list of dictionaries. I think the formatting using words is less susceptible to errors compared to the index/number approach.

---
### Task C.2 ( 2 points)

After studying the access operations for dictionaries, let's practise a few of them.

We keep working with both inventary dictionaries `inv1` and `inv2`.
Assign two variables `costA1004_inv1` and `costA1004_inv2` with the cost of the stock unit A1004, one for each of the two dictionaries. **Use mapping keys and list indexes on both dictionaries for that!**

In [48]:
"""Assign variables costA1004_inv1 and costA1004_inv2 with cost
   information from the dictionaries inv1 and inv2."""

costA1004_inv1 = inv1[0]['cost']
costA1004_inv2 = inv2['A1004'][0]

In [49]:
#Check the result of your code

assert costA1004_inv1 == 3.45
assert costA1004_inv2 == 3.45

---
### Task C.3 ( 2 points)
Now, for the stock unit C1098, change the available quantity from 1 to 20. Do this for both inventory dictionaries `inv1` and `inv2`.

In [50]:
"""Change quantity of stock unit C1098 to 20 in both dictionaries."""

inv1[-1].update({'qty':20})
inv2['C1098'][-1] = 20

In [51]:
#Check the result of your code.

print (inv2)   # also try: inv1

inv1

{'A1004': [3.45, 'A104', 12], 'A1012': [19.68, 'A105', 92], 'B1638': [33.14, 'A106', 2], 'B1849': [0.78, 'A107', 18], 'C1098': [1.29, 'C204', 20]}

[{'sku': 'A1004', 'cost': 3.45, 'location': 'A104', 'qty': 12},
 {'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92},
 {'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty': 2},
 {'sku': 'B1849', 'cost': 0.78, 'location': 'A107', 'qty': 18},
 {'sku': 'C1098', 'cost': 1.29, 'location': 'C204', 'qty': 20}]

---

### Task C.4  ( 2 points)
Now, delete the following items from the data structure:
* the *location* of the last entry from the data structure `inv1`
* the *entire last entry* from the data structure `inv2`! 

It is not enough to delete the content. You have to remove the entire entry for location or unit, respectively. 

(Note: We the data structures are again copied in the cell below, for easier access.)

In [52]:
# Two Different Inventory List Data Structures

inv1 = [
       {'sku': 'A1004', 'cost':  3.45, 'location': 'A104', 'qty': 12}
      ,{'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92}
      ,{'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty':  2}
      ,{'sku': 'B1849', 'cost':  0.78, 'location': 'A107', 'qty': 18}
      ,{'sku': 'C1098', 'cost':  1.29, 'location': 'C204', 'qty':  1}
]

inv2 = {
       'A1004': [ 3.45, 'A104', 12]
      ,'A1012': [19.68, 'A105', 92]
      ,'B1638': [33.14, 'A106',  2]
      ,'B1849': [ 0.78, 'A107', 18]
      ,'C1098' :[ 1.29, 'C204',  1]
}

In [53]:
"""Delete requested items in the dictionaries."""

del inv1[-1]['location']
del inv2['C1098']

In [54]:
# Check the result of your code for the first data structure.
inv1

[{'sku': 'A1004', 'cost': 3.45, 'location': 'A104', 'qty': 12},
 {'sku': 'A1012', 'cost': 19.68, 'location': 'A105', 'qty': 92},
 {'sku': 'B1638', 'cost': 33.14, 'location': 'A106', 'qty': 2},
 {'sku': 'B1849', 'cost': 0.78, 'location': 'A107', 'qty': 18},
 {'sku': 'C1098', 'cost': 1.29, 'qty': 1}]

In [55]:
#Check the result of your code for the second data structure.
inv2

{'A1004': [3.45, 'A104', 12],
 'A1012': [19.68, 'A105', 92],
 'B1638': [33.14, 'A106', 2],
 'B1849': [0.78, 'A107', 18]}

In [56]:
#Check the result of your code.

assert len(inv1) == 5
assert len(inv2) == 4

In [ ]:
! git pull
! git add Exercise04b_Dictionaries.ipynb
! git commit

---
If you are satisfied with your notebook, save it and push it to your homework repository.